body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

h1 {
    position: absolute;
    top: 30px;
    left: 35%;
}

.add {
    position: absolute;
    top: 15vh;
    left: 8%;
    width: 80%;
    height: 78vh;
    padding: 10px;
    border: 5px solid grey;
    margin: 0 auto;
    /* background-color: lightblue; */
}

.add label {
    text-align: center;
}

.add input, #club-description{
    position: relative;
    left: 10%;
    width: 60%;
    height: 20px;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid grey;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
}

#club-description {
    height: 120px;
}

#submit {
    position: relative;
    left: 25%;
    top: 40px;
    width: 10%;
    height: 60px;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}