{% extends 'user/layout.html' %}

{% block title %}
  {{club_infos["club name"]}}
{% endblock %}
{% block styles %}

    <link rel="stylesheet" href="/static/css/user/club_info.css">

{% endblock %}
{%block content %}
<div class="desc-pic">
  <div class="description">
    <p> 
      {{club_infos["club description"]}}
    </p>
  </div>
  <div class="photo">
    <img src="/static/images/cs sym logo.695f0345.png" width="70%" height="70%">
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="achievements">
  <div class="achievement-title"><h1>Achievements</h1></div>
  <div class="achievement-info">
    <p>
      {{club_infos["club achievements"]}}
    </p>
  </div>
</div>
<div class="recruitment">
  <div class="recruitment-title"><h1>Recruitment</h1></div>
  <div class="recruitment-info">
    <p>
      {{club_infos["club recruitement"]}}
    </p>
  </div>
</div>
<div class="club-running">
  <div class="club-running-title"><h1>Core Members</h1></div>
  <div class="club-running-info">
    <ul class="names">
      {% for member in club_infos["club core members"] %}
        <li>{{ member["name"]}}: {{ member["designation"] }}</li>  
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}


<!-- website link - {{ club_infos["club website"] }}
Facebook link - {{ club_infos["club facebook"] }}
Twitter link - {{ club_infos["club twitter"] }}
LinkedIn link - {{ club_infos["club website"] }}
YouTube link - {{ club_infos["club youtube"] }}
Instagram link - {{ club_infos["club instagram"] }}

check if links are empty. if empty then just pass a line saying that the link is not available. otherwise pass the link.

contact details--
{% for contact in club_infos["club contact details"] %}
  <li>{{ cntact["name"] }}: {{ contact["contact"] }}</li>
{% endfor %} -->
