{% extends 'user/layout.html' %}

{% block title %}
Home
{% endblock %}
{% block styles %}

<link rel="stylesheet" href="/static/css/user/contact.css">

{% endblock %}
{% block content %}
<form action="{{ url_for('admin.about') }}" method="POST">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="comment" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
{% endblock %}