{% extends 'user/layout.html' %}

{% block title %}
  Home
{% endblock %}
{% block styles %}

    <link rel="stylesheet" href="/static/css/user/home.css">

{% endblock %}
{%block content %}
  <div class="description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, maiores qui. 
      Unde nulla dignissimos, possimus sed reprehenderit, amet illum illo porro enim 
      blanditiis quaerat? Ducimus fuga officia nemo quisquam laboriosam.
    </p>
  </div>
  <div class="photo">
    <img src="/static/images/daemon-logo.png" width="30%" height="30%">
  </div>
  <div class="cards">
    {% for i in range(6) %}
    <div class="row">
      <div class="column">
        <div class="card">
          <h1>{{club_name[i]["club name"]}}</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> <a href="#">Go</a></button></p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div id="more">
      {% for i in range(6, 12) %}
    <div class="row">
      <div class="column">
        <div class="card">
          <h1> Card {{ (i+1) }}</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Go </button></p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  <button onClick="loadMore()" id="more-btn">More</button>
  <script src="/static/js/home.js"></script>
{% endblock %}
</html>