<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/home-page/css/home.css" type="text/css"/>
</head>
<body>
  <div class="navbar">
    <ul>
      <l1 class="logo"><a href="#">Logo</a></l1>
      <li><a href="#">Home</a></li>
      <li><a href="#"> Contact Us</a></li>
      <li><a href="#">Contribute</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, maiores qui. 
      Unde nulla dignissimos, possimus sed reprehenderit, amet illum illo porro enim 
      blanditiis quaerat? Ducimus fuga officia nemo quisquam laboriosam.
    </p>
  </div>
  <div class="photo">
    <img src="/static/home-page/images/daemon-logo.png" width="30%" height="30%">
  </div>
  <div class="cards">
    <div class="row">
      <div class="column">
        <div class="card">
          <h1>Card 1</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Card 2</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Card 3</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <h1>Card 4</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Card 5</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Card 6</h1>
              <p>Just Some Test Text</p>
              <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
              </div>
              <p><button> Contact </button></p>
        </div>
      </div>
    </div>
    <div id="more">
      <div class="row">
        <div class="column">
          <div class="card">
            <h1>Card 7</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h1>Card 8</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h1>Card 9</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <h1>Card 10</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h1>Card 11</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h1>Card 12</h1>
                <p>Just Some Test Text</p>
                <div style="margin: 24px 0;">
                    <a href="#"><i class="fa fa-instagram"></i></a> 
                    <a href="#"><i class="fa fa-twitter"></i></a>  
                    <a href="#"><i class="fa fa-linkedin"></i></a>  
                    <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button> Contact </button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button onClick="loadMore()" id="more-btn">More</button>
  <script src="/static/home-page/js/home.js"></script>
</body>
</html>