<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    
    {% endblock %}
  </title>
  <link rel="stylesheet" href="/static/home-page/css/layout.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block styles%}
  
  {% endblock %}
</head>
<body>
  <div class="navbar">
    <ul>
      <l1 class="logo"><a href="#">Logo</a></l1>
      <li><a href="#">Home</a></li>
      <li><a href="#"> Contact Us</a></li>
      <li><a href="#">Contribute</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  {%block content %}
  
  {% endblock %}
</body>
</html>