* {
    box-sizing: border-box;
  }

.description {
    display: block;
    float: left;
    position: relative;
    left: 10%;
    top: 35vh;
    max-width: 40%;
  }

.photo {
    position: relative;
    top: 11vh;
    left: 25%;
  }

.column {
    float: left;
    width: 25%;
    padding: 0 19px;
    margin-right: 100px;
    margin-bottom: 10px;
  } 
  
.row {
    margin: 5px;
  }

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #32a3cf;
    left: 20%;
    top: 30vh;
    margin-bottom: 40px;
    height: 300px;
  }

.card button {
    position: absolute;
    top: 80%;
    left: 35%;
}

#more-btn {
    position: relative;
    top: 200px;
    left: 45%;
  }

#more {
    display: none;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .li, .logo {
      float: none;
    }
}