<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/admin/club_delete.css">
</head>
<body>
    <h1> Delete a Club </h1>
    <div class="add">
        <form method="POST" action="{{ url_for('admin.delete_response') }}">
            <h3><label for="clubname">Club Name</label></h3>
            <input type="text" name="club-name" placeholder="Club name" required>
            <input id ="submit" type="submit" value="Delete Club">
        </form>
    </div>
    <h2> Note: Make sure to check the name of the club carefully before deleting. </h2>
</body>
</html>