<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/admin/club_delete.css">
</head>
<body>
    <h1 style="text-align: center;"> Delete Club</h1>
    <div class=container>
        <form id="add-form" class="add-form" action="{{ url_for('admin.delete_response') }}" method="POST">
            <div class="form-row">
                <label for="name">Club Name</label>
                <input type="text" name="name" id="name" placeholder="Club Name" required>
            </div>
            <div class="form-row">
                <input type="submit" value="DELETE">
            </div>
        </form>
    </div>
</body>
</html>