<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/admin/club_update.css">
</head>
<body>
    <h1 style="text-align: center;"> Add Club Form</h1>
    <div class=container>
        <form id="add-form" class="add-form" action="{{ url_for('admin.add_response') }}" method="POST">
            <div class="form-row">
                <h3><label for="name">Club Name</label></h3>
                <input type="text" name="name" id="name" placeholder="Club Name" required>
            </div>
            <div class="form-row">
                <h3><label for="clubname">Portion to be Updated</label></h3>
                <div class="portion">
                    <input type="radio" id="club-name" name="choice" value="club name">                     
                    <label for="club-name">Club Name</label>                                                                               
                    <input type="radio" id="description" name="choice" value="club description">            
                    <label for="description">Description</label>                                                                      
                    <input type="radio" id="recruitment" name="choice" value="recruitment">             
                    <label for="recruitment">Recruitment</label>    
                </div> 
                <div class="portion">
                    <input type="radio" id="achievements" name="choice" value="achievements">                     
                    <label for="achievements">Achievements</label>                                                                               
                    <input type="radio" id="website-link" name="choice" value="website-link">            
                    <label for="website-link">Website Link</label>                                                                      
                    <input type="radio" id="facebook-link" name="choice" value="facebook-link">             
                    <label for="facebook-link">Facebook Link</label>    
                </div> 
                <div class="portion">
                    <input type="radio" id="instagram-link" name="choice" value="instagram-link">                     
                    <label for="instagram-link">Instagram Link</label>                                                                               
                    <input type="radio" id="twitter-link" name="choice" value="twitter-link">            
                    <label for="twitter-link">Twitter Link</label>                                                                      
                    <input type="radio" id="linkedin-link" name="choice" value="linkedin-link">             
                    <label for="linkedin-link">LinkedIn Link</label>    
                </div>                                                                           
            </div>  
            <div class="form-row">
                <h3><label for="updated-information">Updated Information</label></h3>
                <textarea id="updated-information" name="information" placeholder="Updated Information" rows="6" cols="50" required></textarea>
            </div>
            <div class="form-row">
                <h3><label for="core-members" >For Update in Core Members</label></h3>
                <div class="select">
                    <label for="members">Choose Name of the Member:</label>

                    <select name="members" id="members">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    </select> 
                </div>
                <div class="select">
                    <label for="cars">Choose the information to update:</label>

                    <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    </select> 
                </div>
                <input type="text" name="core-members" id="core-members" placeholder="Updated Information" required>
            </div>
            <div class="form-row">
                <h3><label for="core-members" >For Update in Contact Details</label></h3>
                <div class="select">
                    <label for="members">Choose Name of the Member:</label>

                    <select name="members" id="members">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    </select> 
                </div>
                <div class="select">
                    <label for="cars">Choose the information to update:</label>

                    <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                    </select> 
                </div>
                <input type="text" name="core-members" id="core-members" placeholder="Updated Information" required>
            </div>
            <input id ="submit" type="submit" value="Update Club">
        </form>
    </div>
</body>
</html>