<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/admin/form_option.css">
</head>
<body>
    <h1>Select one of the options</h1>
    <div class="links">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Add the dynamic links inside the href section -->
        <a href="{{ url_for('admin.add') }}"> Add Club </a>
        <a href="{{ url_for('admin.update') }}"> Update Club </a>
        <a href="{{ url_for('admin.delete') }}"> Delete Club </a>
    </div>
</body>
</html>